.label{
	-fx-font-size: 16;
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
}

.button{
	-fx-font-size: 16;
	-fx-font-family: Roboto;
	-fx-text-alignment: center;
}

GridPane {
	-fx-padding: 15
}

.tab-pane{
	-fx-font-size: 16;
}
